.login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: 50px auto;
}
.login .picture{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.login .picture img{
    max-width: 300px;
    height: auto;
}
.login .form{
    flex: 1;
    display: flex;
    flex-direction: column;
    /*gap: 10px;*/
    padding: 25px;
    direction: rtl;
    background-color: #f5f5f5;
    width: 300px;
    border-radius: 10px;
}
.login .form h3{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    text-align: center;
}
.login .form label{
    font-size: 15px;
    color: #555555;
    margin-top: 20px;
}
.login .form input{
    padding: 10px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: none;
    color: #333333;
}
.login .form button.submitbtn{
    padding: 10px;
    font-size: 16px;
    display: block;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
    width: 200px;
    transition: all 0.3s ease;
}
.login .form button:hover{
    background-color: #0056b3;
}
.login .form a{
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #007BFF;
    text-align: center;
    text-decoration: none;
}
.errmsg{
    padding: 10px;
    background: rgba(254, 138, 138, 0.47);
    display: block;
    text-align: center;
    color: #f95c5c;
    border-radius: 10px;
    font-size: 16px;

}
.loginWith{
    font-size: 1rem;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.rebaverepassword{
    color: #333333 !important;
    margin-top: 20px !important;
}
.loginLogoImage{
    display: none;
}
@media (max-width: 997px) {
    .login .picture{
        display: none;
    }
    .loginLogoImage{
        width: 60%;
        height: 100px;
        object-fit: cover;
        margin: 0 auto;
        display: block;
    }

}
@media (max-width: 650px) {
    .login .form h3{
        font-size: 1.5rem;
    }
    .login .form label{
        font-size: 1rem;
    }
    .login .form input{
        font-size: 1rem;
    }
    .login .form button.submitbtn{
        font-size: 1rem;
    }

}