
.Search{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 30px 10px;

}
.search{
    max-width: 600px;
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 50px;
    padding: 10px;
}
.search > input {
    outline: none;
    padding-right: 10px;
    border: none;
    width: 100%;
}
.Search .addProduct{
    margin-left: 50px;
    color: #ffffff;
    background: var(--main-color);
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}