.navbar {
    margin-right: 250px;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
}
.acount{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
}
.acount .acountImage{
    object-fit: cover;
    border-radius: 50px;
    margin-right: 10px;
}
.acount .acountDetiles{
    display: flex;
    direction: ltr;
    align-items: center;
    gap: 10px;
}
.search{
    width: 60%;
}
.search > input {
    width: 80%;
    background: #f6f6f6;
    padding: 15px;
    border-radius: 40px;
    border: none;
    outline: none;
}
.notifications{
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
}
.notifications span{
    background: red;
    height: 20px;
    width: 20px;
    color: #ffffff;
    text-align: center;
    border-radius: 50px;

}
.menu{
    /* display: none; */
    margin-left: 20px;
}
@media (max-width: 900px) {
    .navbar{
        margin-right: 0;
    }
    .notifications{
        display: none;
    }
}