.ProductImage{

    position: relative;
}
.icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
}
.ProductImage:hover .icon{
    opacity: 1;
    background: rgba(255, 0, 0, 0.24);
}