.TooleBar{
position: fixed;
 top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  padding: 10px;
  background: #ffffff;
  overflow-y: auto;

  /* إخفاء scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Chrome, Safari, Opera */
.sidebar::-webkit-scrollbar {
  display: none;
}

.title{
    color: #0a0a0a;
    font-size: 25px;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}
.title span{
    color: var(--main-color);
}
.tooleBarMenu li{
    font-size: 13px;
    margin: 10px auto;
    font-weight: 600;
    padding: 15px;
}
.tooleBarMenu li:hover{
    background: #f5f5f5;
    color: #0a0a0a;
    border-radius: 6px ;
}
.tooleBarMenu li.Active{
    background: var(--main-color);
    color: #ffffff;
    border-radius: 6px;
}
.tooleBarMenu li .Link{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.tooleBarMenu li button.Link{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.labiocns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
@media (max-width: 900px) {
    .TooleBar{
        display: none;
    }

}